{% extends 'padre.html' %}


{% block tituloCambia %}
<title>agregar vendedor</title>
{% endblock tituloCambia %}

{% block cambioCenter %}


<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-left text-white">
            <h1 class="display-4 fw-bolder">Agregar Vendedor</h1>
        </div>
    </div>
</header>
{% endblock cambioCenter %}

{% block contenidoQueCambia %}

<form action="{% url 'agregar_vendedor' %}" method="post">{% csrf_token %}

    <div style="text-align: left;">
        <div>
            <label for="nombre" style="display: inline-block; width: 100px; text-align: left;">Nombre:</label>
            <input type="text" id="nombre" name="nombre" style="border: 1px solid #007bff; padding: 5px; border-radius: 5px;">
        </div>
        <div>
            <label for="apellido" style="display: inline-block; width: 100px; text-align: left;">Apellido:</label>
            <input type="text" id="apellido" name="apellido" style="border: 1px solid #007bff; padding: 5px; border-radius: 5px;">
        </div>
        
        <div>
            <label for="legajo" style="display: inline-block; width: 100px; text-align: left;">Legajo:</label>
            <input type="number" id="legajo" name="legajo" style="border: 1px solid #007bff; padding: 5px; border-radius: 5px;">
        </div>

        <button type="submit"> Enviar </button>
    </form>


{% endblock contenidoQueCambia %}