{% extends 'padre.html' %}


{% block tituloCambia %}
<title>Resultado busqueda</title>
{% endblock tituloCambia %}

{% block cambioCenter %}


<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Resultados Busqueda</h1>
        </div>
    </div>
</header>
{% endblock cambioCenter %}


{% block contenidoQueCambia %}
<p></p>
    {% if bodega %}
        <ul>
            {% for bod in bodega %}
                <li> {{bod}} </li>
            {% endfor %}
        </ul>
    {% endif %}    


{% endblock contenidoQueCambia %}





